body
{
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1240px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base
{
    position: absolute;
    z-index: 0;
}

#u427
{
    border-width: 0px;
    position: absolute;
    left: 429px;
    top: 61px;
    width: 307px;
    height: 39px;
}

#u427_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 307px;
    height: 39px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u428
{
    border-width: 0px;
    position: absolute;
    left: 729px;
    top: 61px;
    width: 95px;
    height: 39px;
}

#u428_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95px;
    height: 39px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #FF6600;
    text-align: center;
}

#u429_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 31px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u429
{
    border-width: 0px;
    position: absolute;
    left: 1040px;
    top: 67px;
    width: 31px;
    height: 20px;
}

#u429_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 27px;
    white-space: nowrap;
}

#u430_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 31px;
    height: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u430
{
    border-width: 0px;
    position: absolute;
    left: 1099px;
    top: 67px;
    width: 31px;
    height: 20px;
}

#u430_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 27px;
    white-space: nowrap;
}

#u431_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1028px;
    height: 1050px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -967px;
    margin-left: -110px;
}

#u431
{
    border-width: 0px;
    position: absolute;
    left: 98px;
    top: 237px;
    width: 1028px;
    height: 1050px;
}

#u431_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u432_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 109px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u432
{
    border-width: 0px;
    position: absolute;
    left: 126px;
    top: 237px;
    width: 109px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u432_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 109px;
    white-space: nowrap;
}

#u433_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u433
{
    border-width: 0px;
    position: absolute;
    left: 144px;
    top: 293px;
    width: 73px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u433_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
}

#u434_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 981px;
    height: 2px;
}

#u434
{
    border-width: 0px;
    position: absolute;
    left: 138px;
    top: 325px;
    width: 980px;
    height: 1px;
}

#u434_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u435_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 981px;
    height: 2px;
}

#u435
{
    border-width: 0px;
    position: absolute;
    left: 144px;
    top: 657px;
    width: 980px;
    height: 2px;
}

#u435_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u436_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u436
{
    border-width: 0px;
    position: absolute;
    left: 146px;
    top: 868px;
    width: 73px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u436_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
    margin-top: -336px;
}

#u437_img
{
    border-width: 0px;
    position: absolute;
    left: 19px;
    top: -390px;
    width: 981px;
    height: 2px;
    margin-top: 68px;
    margin-left: -21px;
}

#u437
{
    border-width: 0px;
    position: absolute;
    left: 140px;
    top: 900px;
    width: 980px;
    height: 16px;
}

#u437_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u438_div
{
    border-width: 0px;
    background-position: inherit;
    position: absolute;
    left: -1px;
    top: 0px;
    width: 83px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
}

#u438
{
    border-width: 0px;
    position: absolute;
    left: 891px;
    top: 1199px;
    width: 83px;
    height: 32px;
    font-size: 18px;
    margin-top: -319px;
}

#u438_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: -17px;
    width: 79px;
    word-wrap: break-word;
}

#u439_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}

#u439
{
    border-width: 0px;
    position: absolute;
    left: 984px;
    top: 1199px;
    width: 73px;
    height: 32px;
    font-size: 16px;
    margin-top: -319px;
}

#u439_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 6px;
    width: 69px;
    word-wrap: break-word;
}

#u440_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 272px;
    height: 108px;
}

#u440
{
    border-width: 0px;
    position: absolute;
    left: 102px;
    top: 27px;
    width: 272px;
    height: 108px;
}

#u440_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u441
{
    border-width: 0px;
    position: absolute;
    left: 97px;
    top: 157px;
    width: 1028px;
    height: 83px;
}

#u442_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 167px;
    height: 48px;
}

#u442
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 167px;
    height: 48px;
}

#u442_img.mouseOver
{
}

#u442.mouseOver
{
}

#u442_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 16px;
    width: 163px;
    word-wrap: break-word;
}

#u443_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 195px;
    height: 48px;
}

#u443
{
    border-width: 0px;
    position: absolute;
    left: 167px;
    top: 0px;
    width: 195px;
    height: 48px;
}

#u443_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 16px;
    width: 191px;
    word-wrap: break-word;
}

#u444_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 222px;
    height: 48px;
}

#u444
{
    border-width: 0px;
    position: absolute;
    left: 362px;
    top: 0px;
    width: 222px;
    height: 48px;
}

#u444_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 16px;
    width: 218px;
    word-wrap: break-word;
}

#u445_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 48px;
}

#u445
{
    border-width: 0px;
    position: absolute;
    left: 584px;
    top: 0px;
    width: 215px;
    height: 48px;
}

#u445_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 16px;
    width: 211px;
    word-wrap: break-word;
}

#u446_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 229px;
    height: 48px;
}

#u446
{
    border-width: 0px;
    position: absolute;
    left: 799px;
    top: 0px;
    width: 229px;
    height: 48px;
}

#u446_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 16px;
    width: 225px;
    word-wrap: break-word;
}

#u447_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u447
{
    border-width: 0px;
    position: absolute;
    left: 154px;
    top: 360px;
    width: 90px;
    height: 22px;
    font-size: 18px;
}

#u447_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
}

#u448
{
    border-width: 0px;
    position: absolute;
    left: 240px;
    top: 351px;
    width: 144px;
    height: 45px;
}

#u448_input
{
    position: absolute;
    left: 7px;
    top: 17px;
    width: 119px;
    height: 31px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-top: -7px;
}

#u449_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u449
{
    border-width: 0px;
    position: absolute;
    left: 154px;
    top: 416px;
    width: 90px;
    height: 22px;
    font-size: 18px;
}

#u449_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
}

#u450
{
    border-width: 0px;
    position: absolute;
    left: 245px;
    top: 416px;
    width: 119px;
    height: 25px;
}

#u450_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u451_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u451
{
    border-width: 0px;
    position: absolute;
    left: 154px;
    top: 468px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u451_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u452
{
    border-width: 0px;
    position: absolute;
    left: 245px;
    top: 468px;
    width: 119px;
    height: 25px;
}

#u452_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u453_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u453
{
    border-width: 0px;
    position: absolute;
    left: 529px;
    top: 360px;
    width: 90px;
    height: 22px;
    font-size: 18px;
}

#u453_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
}

#u454
{
    border-width: 0px;
    position: absolute;
    left: 620px;
    top: 359px;
    width: 119px;
    height: 25px;
}

#u454_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u455_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u455
{
    border-width: 0px;
    position: absolute;
    left: 529px;
    top: 416px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u455_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u456
{
    border-width: 0px;
    position: absolute;
    left: 620px;
    top: 415px;
    width: 119px;
    height: 25px;
}

#u456_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u457_img
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 166px;
    height: 199px;
}

#u457
{
    border-width: 0px;
    position: absolute;
    left: 882px;
    top: 362px;
    width: 166px;
    height: 199px;
}

#u457_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u458_div
{
    border-width: 0px;
    background-position: inherit;
    position: absolute;
    left: 39px;
    top: 0px;
    width: 61px;
    height: 33px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
}

#u458
{
    border-width: 0px;
    position: absolute;
    left: 915px;
    top: 571px;
    width: 100px;
    height: 33px;
}

#u458_text
{
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 8px;
    width: 75px;
    word-wrap: break-word;
}

#u459_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u459
{
    border-width: 0px;
    position: absolute;
    left: 390px;
    top: 371px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u459_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u460_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u460
{
    border-width: 0px;
    position: absolute;
    left: 390px;
    top: 422px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u460_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u461_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u461
{
    border-width: 0px;
    position: absolute;
    left: 390px;
    top: 473px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u461_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u462_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u462
{
    border-width: 0px;
    position: absolute;
    left: 767px;
    top: 363px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u462_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u463_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u463
{
    border-width: 0px;
    position: absolute;
    left: 767px;
    top: 419px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u463_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u464_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u464
{
    border-width: 0px;
    position: absolute;
    left: 164px;
    top: 738px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u464_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u465_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u465
{
    border-width: 0px;
    position: absolute;
    left: 542px;
    top: 738px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u465_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u466
{
    border-width: 0px;
    position: absolute;
    left: 265px;
    top: 737px;
    width: 119px;
    height: 25px;
}

#u466_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u467
{
    border-width: 0px;
    position: absolute;
    left: 634px;
    top: 738px;
    width: 119px;
    height: 25px;
}

#u467_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u468_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u468
{
    border-width: 0px;
    position: absolute;
    left: 404px;
    top: 744px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u468_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u469_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u469
{
    border-width: 0px;
    position: absolute;
    left: 781px;
    top: 746px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u469_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u470_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 38px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u470
{
    border-width: 0px;
    position: absolute;
    left: 164px;
    top: 674px;
    width: 91px;
    height: 38px;
    font-size: 18px;
}

#u470_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u471_div
{
    border-style: none;
    border-color: inherit;
    background-position: inherit;
    border-width: medium;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 285px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    background-image: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
}

#u471
{
    border-width: 0px;
    position: absolute;
    left: 529px;
    top: 477px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u471_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
}

#u472
{
    border-width: 0px;
    position: absolute;
    left: 265px;
    top: 674px;
    width: 119px;
    height: 25px;
}

#u472_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u473
{
    border-width: 0px;
    position: absolute;
    left: 628px;
    width: 119px;
    height: 25px;
}

#u473_input
{
    position: absolute;
    left: -3px;
    top: -197px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u474_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u474
{
    border-width: 0px;
    position: absolute;
    left: 404px;
    top: 679px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u474_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u475_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u475
{
    border-width: 0px;
    position: absolute;
    left: 775px;
    top: 679px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u475_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u476_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u476
{
    border-width: 0px;
    position: absolute;
    left: 168px;
    top: 938px;
    width: 90px;
    height: 22px;
    font-size: 18px;
}

#u476_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
    margin-top: -319px;
}

#u477_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u477
{
    border-width: 0px;
    position: absolute;
    left: 164px;
    top: 1001px;
    width: 91px;
    height: 22px;
    font-size: 18px;
}

#u477_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 91px;
    white-space: nowrap;
    margin-top: -319px;
}

#u478_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u478
{
    border-width: 0px;
    position: absolute;
    left: 534px;
    top: 1001px;
    width: 90px;
    height: 22px;
    font-size: 18px;
    margin-top: 0px;
}

#u478_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
    margin-top: -319px;
}

#u479
{
    border-width: 0px;
    position: absolute;
    left: 265px;
    top: 938px;
    width: 119px;
    height: 25px;
}

#u479_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-top: -319px;
}

#u480
{
    border-width: 0px;
    position: absolute;
    left: 265px;
    top: 999px;
    width: 119px;
    height: 25px;
}

#u480_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-top: -319px;
}

#u481
{
    border-width: 0px;
    position: absolute;
    left: 634px;
    top: 999px;
    width: 119px;
    height: 25px;
}

#u481_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-top: -319px;
}

#u482_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u482
{
    border-width: 0px;
    position: absolute;
    left: 404px;
    top: 944px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u482_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
    margin-top: -319px;
}

#u483_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u483
{
    border-width: 0px;
    position: absolute;
    left: 404px;
    top: 1008px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u483_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
    margin-top: -319px;
}

#u484_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u484
{
    border-width: 0px;
    position: absolute;
    left: 781px;
    top: 1010px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u484_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
    margin-top: -319px;
}

#u485_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
}

#u485
{
    border-width: 0px;
    position: absolute;
    left: 534px;
    top: 940px;
    width: 90px;
    height: 16px;
    font-size: 18px;
}

#u485_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    white-space: nowrap;
    margin-top: -319px;
}

#u486
{
    border-width: 0px;
    position: absolute;
    left: 640px;
    top: 936px;
    width: 119px;
    height: 25px;
}

#u486_input
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 119px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    margin-top: -319px;
}

#u487_div
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    height: 16px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FF0000;
}

#u487
{
    border-width: 0px;
    position: absolute;
    left: 773px;
    top: 945px;
    width: 43px;
    height: 16px;
    color: #FF0000;
}

#u487_text
{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
    margin-top: -319px;
}
